  body {color: black; background: #ffffff; margin:10px 10px 0px 10px; padding:0px;}
  p { line-height: 1.5 }
  a:link      {color: #003399;   text-decoration: none; }
  a:visited       {color: #003399;   text-decoration: none; }
  a:hover {color: #000000; text-decoration: underline; background-color: #fff3b6;}
  a:active {color: #003399; text-decoration: underline;}
  #banner {
    background:#ffffff;
  }
  #column_left {
    width:25%;
    float:left;
    background:#b9d4dd;
    padding-bottom:10px;
  }
  #column_center {
    width:55%;
    float:left;
    background:#ffffff;
    padding-bottom:10px;
  }
  #column_right {
    width:20%;
    float:left;
    background:#b9d4dd;
    padding-bottom:10px;
  }
  p,h1,pre {
    font-family: verdana, arial, georgia, tahoma, sans-serif, helvetica, times, roman;
    margin:0px 10px 10px 10px;
  }
  h1 {
    font-size:14px;
    padding-top:10px;
  }
  #column_right p { font-size:12px}
  #banner h1 { margin:0px; padding:10px}
